# Item-based collaborative filtering

In [1]:
import pandas as pd

In [2]:
ratings_matrix = pd.read_csv("data/ratings_matrix.csv")

Estimate unknown ratings $r^*(a,i)$.

"A user will like the items similar to those he liked in the past"

In [3]:
ratings_matrix

,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,300.0,301.0,302.0,303.0,304.0,305.0,306.0,307.0,308.0,309.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
97,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

task = fill all cells with 0 by estimated ratings with an item-based method.

In [4]:
selected_item = 1.0

Given $a$ - the active user.

    Fill $a$'s rating vector
        For each item $i$, estimate relavance score (rating) $r*(a,i)*

For each item other than the selected 1, compute the cosine similarity.

In [18]:
import numpy as np
from numpy.linalg import norm

def cosine(a, b):
    return np.dot(a, b)/(norm(a)*norm(b))

In [19]:
i1 = [5, 5, 4, 0, 2, 2]
i2 = [0, 5, 4, 0, 2, 5]
i3 = [2, 2, 0, 0, 1, 2]
i4 = [0, 2, 1, 2, 0, 5]
i5 = [4, 4, 3, 0, 2, 4]
i6 = [0, 4, 0, 3, 1, 5]

In [30]:
c1 = cosine(i2, i1)
c1

0.7641837697680016

In [31]:
c3 = cosine(i2, i3)
c3

0.7292928985449755

In [32]:
c4 = cosine(i2, i4)
c4

0.799422060148518

In [33]:
c5 = cosine(i2, i5)
c5

0.8569867148959759

In [34]:
c6 = cosine(i2, i6)
c6

0.7866177642303795

In [119]:
cs = [c1, 0, c3, c4, c5, c6]

In [120]:
a = [5, 0, 2, 0, 4, 0] # ratings of the chosen user

In [121]:
r_a_i2 = (5*c1 + 2*c3 + 4*c5) / (c1 + c3 + c5) 
r_a_i2

3.704568030166919

In [125]:
(5*c1 + 2*c3 + 4*c5)

8.707451505513863

In [128]:
s = 0
for x in zip(a, cs):
    if x[0] != 0:
        s += x[1]*x[0]

In [122]:
sum([x[0]*x[1] for x in zip(a, cs) if x[0] != 0]) / sum(cs)

2.2119762251761204

In [48]:
ratings_matrix.head()

,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,300.0,301.0,302.0,303.0,304.0,305.0,306.0,307.0,308.0,309.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [95]:
len(u)

309

In [96]:
len(u[1:])

308

In [98]:
len(cosines)

308

In [108]:
z = [1, 2, 3]
d = [3, 2, 1]
sum([(x[0] + x[1]) for x in zip(z, d)])

12

In [111]:
sum([x[0]*x[1] for x in zip(u[1:], cosines) if (x[0] != 0)]) / sum([x[1] for x in zip(u[1:], cosines) if (x[0] != 0)])

d:\users\maxim\documents\cours\master sc\m2\semestre9\recommender systems\idmc-recommender-system\venv\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in double_scalars
  """Entry point for launching an IPython kernel.

nan

In [147]:
numerator, denom = 0, 0

for i_, (u_, c) in enumerate(zip(u, cosines)):
#     if (u_ == user_id):
#         print("yay")
    if i_ != user_id:
        if u_ != 0:
            numerator += u_*c
            denom += c

In [148]:
numerator, denom

(0.0, 0.0)

In [155]:
for item_id in ratings_matrix.columns:
    user_id = 0
    u = ratings_matrix.loc[user_id]

    # we try to compute the rating for the top left cell
    # item_id = "1.0"
    i = ratings_matrix.loc[:, item_id]

    cosines = [cosine(i, ratings_matrix.loc[:, x]) for x in ratings_matrix.columns if x!=item_id]

    # link the cosine sims with the ratings of the user
    numerator, denom = 0, 0
    for i_, (u_, c) in enumerate(zip(u, cosines)):
        if i_ != user_id:
            if u_ != 0:
                numerator += u_*c
                denom += c

#     print(item_id, f"- {numerator}/{denom}")
    if denom != 0.0:
        print(f"User: {user_id}, Item:{item_id}, Score: {numerator/denom}")

User: 0, Item:5.0, Score: 3.0
User: 0, Item:10.0, Score: 3.0
User: 0, Item:16.0, Score: 4.126679004591278
User: 0, Item:19.0, Score: 5.0
User: 0, Item:22.0, Score: 3.0
User: 0, Item:23.0, Score: 5.0
User: 0, Item:24.0, Score: 5.0
User: 0, Item:25.0, Score: 5.0
User: 0, Item:29.0, Score: 5.0
User: 0, Item:31.0, Score: 5.0
User: 0, Item:35.0, Score: 3.0000000000000004
User: 0, Item:40.0, Score: 3.0
User: 0, Item:45.0, Score: 4.0
User: 0, Item:46.0, Score: 4.152621035437255
User: 0, Item:49.0, Score: 4.0
User: 0, Item:51.0, Score: 4.0
User: 0, Item:64.0, Score: 3.0
User: 0, Item:65.0, Score: 3.773044449481866
User: 0, Item:73.0, Score: 3.0
User: 0, Item:88.0, Score: 4.230272279750726
User: 0, Item:96.0, Score: 4.0
User: 0, Item:100.0, Score: 4.0
User: 0, Item:109.0, Score: 4.0
User: 0, Item:110.0, Score: 3.0
User: 0, Item:113.0, Score: 4.0
User: 0, Item:126.0, Score: 3.51953502877388
User: 0, Item:144.0, Score: 3.0
User: 0, Item:146.0, Score: 4.0
User: 0, Item:155.0, Score: 4.0
User: 0, Item:159.0, Score: 5.0
User: 0, Item:168.0, Score: 3.0
User: 0, Item:184.0, Score: 4.0
User: 0, Item:201.0, Score: 3.0
User: 0, Item:204.0, Score: 4.0
User: 0, Item:209.0, Score: 3.0
User: 0, Item:212.0, Score: 4.0
User: 0, Item:215.0, Score: 3.0
User: 0, Item:224.0, Score: 5.0
User: 0, Item:233.0, Score: 5.0
User: 0, Item:237.0, Score: 5.0
User: 0, Item:255.0, Score: 4.0
User: 0, Item:259.0, Score: 4.0
User: 0, Item:260.0, Score: 5.0
User: 0, Item:261.0, Score: 3.0
User: 0, Item:292.0, Score: 3.0
User: 0, Item:299.0, Score: 3.0
User: 0, Item:301.0, Score: 4.0
User: 0, Item:308.0, Score: 3.0

In [ ]:
def compute_cosine(u, i, df):
    """
    :param: u : the id of the user
    :param: i : the id of the item
    :param: df: the dataframe
    """
    # compute all the cosine similarities between items
    u = df.loc[user_id]
    i = ratings_matrix.loc[:, item_id]
    
    cosines = [cosine(i, ratings_matrix.loc[:, x]) for x in ratings_matrix.columns if x!=item_id]
    
    # compute the estimated rating for this user at this item
    a = df.loc[u]